!!! 5
%html
  %head
    %title= "Stats for #{@link.url}"
  %body
    %h1= @link.url
    %h2= "Clicks: #{@link.referers.count}"
    %h2 Referers:
    %ul
      - @link.referers.group_by(&:domain).each do |domain, referers|
        %li= "(#{referers.count}) #{domain}"
